.center
{
    display: flex;
    justify-content: center;
}

#title
{
    color: #a82223;
}

#buttonsColor
{
    background-color: #a82223;
    border: #a82223;
}

.card{
    margin: 20px;
}

.contCard
{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    height: auto;
}