.center
{
    display: flex;
    justify-content: center;
}

#title
{
    color: #a82223;
}

#buttonsColor
{
    background-color: #a82223;
    border: #a82223;
}

.contCard
{
    padding: 20px;
    width: 100%;
    height: auto;
    border: 1px solid black;
}